body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  margin-left: 15px;
  margin-right: 15px;
  max-height: 480px;
  max-width: 960px;
  background: black;
}

.wrapper {
  color: black;
}

#instructions {
  background: black;
  min-height: 480;
  min-width: 250;
  max-width: 400;
  max-height: 480;
  font-family: fantasy;
  color: white;
  font-size: 25;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 0px #3d7cdd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.scoreboard-canvas {
  background-image: url("https://mcdn.wallpapersafari.com/medium/97/59/pdCfQ6.jpg");
  max-height: 420;
  min-width: 550;
  font-family: fantasy;
  object-fit: cover; 
  color: white;
  font-size: 25;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-options{
  display: flex;
  align-items: center;
  left: 42%;
  top: 680px;
  font-family: fantasy;
}
.audio-options p {
  color: white;
  font-size: 25;
  font-weight: 800;
}
button{
  background:none;
  border: 0;
}

.sfx-toggle {
  width: 70px;
  height: 70px;
}

.music-toggle {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
}
.play {
width: 100px;
height: 50px;
  bottom: 70px;
  right: 100px;
  font-family: fantasy;
}

#game-over {
  position: absolute;
  top: 25%;
  left: 35%;
  font-family: fantasy;
  color: rgb(109,158,226);
  font-size: 48;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-shadow: 1.5px 1.5px 0px #3d7cdd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#game-over-score {
  position: relative;
  top: 245px;
  left: -275px;
}

#game-over-high-score {
  position: relative;
  top: 330px;
  left: -620px;
}

.hide {
  display:none;
}

@media all and (max-width: 1900px) {
  .scoreboard-canvas {
    display:none
  }
  body {
    flex-direction: column-reverse;
    
  }
}