.hide {
  display: none;
}

body {
  display: flex;
  justify-content: center
}

canvas {
  max-height: 480px;
  max-width: 960px;
}
#instructions {
  font-family: fantasy;
}
/* 
#game-canvas {
  background: black
} */