body {
  display: flex;
  justify-content: center;
}

canvas {
  max-height: 480px;
  max-width: 960px;
  background: black;
}

.wrapper {
  color: black;
}

#instructions {
  background-image: url("https://mcdn.wallpapersafari.com/medium/97/59/pdCfQ6.jpg");
  object-fit: scale-down;
  color: white;
  font-weight: 800;
  text-align: end;
  text-shadow: black;
  max-width: 800;
  max-height: 480;
    font-family: fantasy;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
/* 
#game-canvas {
  background: black
} */