body {
  display: flex;
  justify-content: center;
}

canvas {
  max-height: 480px;
  max-width: 960px;
  background: black;
}

.wrapper {
  color: black;
}

#instructions {
  min-height: 480;
  min-width: 500;
  max-width: 800;
  max-height: 480;
  font-family: fantasy;
  object-fit: scale-down;
  color: white;
  font-size: 25;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-shadow: 1px 1px 0px black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.scoreboard-canvas {
  background-image: url("https://mcdn.wallpapersafari.com/medium/97/59/pdCfQ6.jpg");
}