body {
  display: flex;
  justify-content: space-around
}

canvas {
  max-height: 480px;
  max-width: 960px;
}

/* .scoreboard-canvas {
    background: black;
    margin-left: 200;
    position: absolute;
    z-index: -1;
} */

.wrapper {
  color: black;
}

#instructions {
  font-family: fantasy;
}
/* 
#game-canvas {
  background: black
} */