body {
  display: flex;
  justify-content: center;
}

canvas {
  max-height: 480px;
  max-width: 960px;
  background: black;
}

.wrapper {
  color: black;
}

#instructions {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSajD0qVQkE0Ewoe4fB7n2BLGssDYD00Z3BkSI8A-5humYpYCMj&usqp=CAU");
  object-fit: contain;
  max-width: 800;
  max-height: 480;
    font-family: fantasy;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
/* 
#game-canvas {
  background: black
} */