body {
  display: flex;
  justify-content: center;
}

canvas {
  max-height: 480px;
  max-width: 960px;
  background: black;
}

.wrapper {
  color: black;
}

#instructions {
  background-image: url("https://i.etsystatic.com/13246776/r/il/49d87a/2122541034/il_570xN.2122541034_ckch.jpg");
  max-width: 900;
  max-height: 480;
    font-family: fantasy;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
/* 
#game-canvas {
  background: black
} */