body {
  display: flex;
  justify-content: space-around
}

canvas {
  max-height: 480px;
  max-width: 960px;
  background: black;
}

left-Canvas {

}

.wrapper {
  color: black;
}

#instructions {
  font-family: fantasy;
}
/* 
#game-canvas {
  background: black
} */