body {
  display: flex;
  justify-content: space-around
}

canvas {
  max-height: 480px;
  max-width: 960px;
}

.left-canvas {
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.wrapper {
  color: black;
}

#instructions {
  font-family: fantasy;
}
/* 
#game-canvas {
  background: black
} */